.Contact {
    text-align: center;
    margin-top: 50vh;
    margin-left: 50vh;
    margin-bottom: 10vh;
    width: 50%;
}

.Contact-heading1 {
    color: #64FFDA;
}

.Contact-heading2 {
    color: #CCD6F6;
    font-size: 32px;
}

.Contact-para {
    margin: auto;
    font-size: 18px;
    color: #8892B0;
    margin-bottom: 60px;
    width: 100%;
}

.Contact-btn {
    color: #64FFDA;
    font-size: 16px;
    letter-spacing: 2px;
}

.Contact-btn:hover {
    cursor: pointer;
    background-color: #233554;
}

.Navigation-link {
    display: none;
}

.Navigation-link a{
    color: #CCD6F6;
    font-size: 1.4rem;
    text-decoration:  none;
}

.Navigation-link a:hover {
    color: #64FFDA;
}

@media (max-width: 480px) {

.Contact {
    text-align: center;
    margin-top: 40vh;
    margin-left: 4vh;
    width: 100%;
}

.Navigation-link {
    margin: auto;
    margin-top: 30px;
    display: flex;
    width: 30%;
    justify-content: space-around;
}

}

@media (min-width: 481px) and (max-width: 767px) {

.Contact {
    text-align: center;
    margin-top: 40vh;
    margin-left: 3vh;
    width: 100%;
}

.Navigation-link {
    margin: auto;
    margin-top: 30px;
    display: flex;
    width: 30%;
    justify-content: space-around;
}
    
}

@media (min-width: 767px) and (max-width: 768px){

.Contact {
    text-align: center;
    margin-top: 40vh;
    margin-left: 15vh;
    width: 80%;
}

}

@media (min-width: 768px) and (max-width: 1024px){

.Contact {
    text-align: center;
    margin-top: 50vh;
    margin-left: 15vh;
    width: 80%;
    margin-bottom: 10vh;
}

}

@media (min-width: 1025px) and (max-width: 1280px){

.Contact {
    text-align: center;
    margin-top: 50vh;
    margin-left: 35vh;
    width: 60%;
    margin-bottom: 10vh;
}

}
         

@media (min-width: 1281px) {

.Contact {
    text-align: center;
    margin-top: 50vh;
    margin-left: 45vh;
    width: 52%;
    margin-bottom: 10vh;
}

}