.Project {
    width: 75%;
    height: 100%;
    margin-top: 30vh;
    margin-left: 30vh;
}

.Project-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
    font-weight: 500;
    color: #CCD6F6;
    width: 70%; 
}

.Project-heading li {
    list-style: none;
}

.Project-heading::before {
    margin-right: 10px;
    content: "\2022";
    color: #64FFDA;   
}

.Project-line {
    margin-left: 20px;
    background-color: #233554;
    width: 280px;
    height: 1.5px;
}

.Card {
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    height: 300px;
}

.Card-content {
    position: relative;
    right: 50px;
    height: max-content;
    width: 80%;
    text-align: right;
}

.Card-img {
    margin-top: 30px;
    height: 90%;
    width: 100%;
}

.Card-img img {
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

.Card-img img:hover {
    opacity: 1;
}

.Card-permanent-heading {
    color: #64FFDA;
    width: 100%;
}
.Card-heading {
    font-size: 20px;
    width: 100%;
    color: #CCD6F6;
}

.card-para {
    height: max-content;
    width: 100%;   
}
.Card-para p{
    padding: 14px;
    background-color: #112240;
    text-align: left;
    color: #A8B2D1;
} 

.Highlighted {
    color: #64FFDA;
}

.Card-tech {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-evenly;
    color: #A8B2D1;
    list-style: none;
}

.Card-link a {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    color: #A8B2D1;
}

.Card-link a:hover {
    color: #64FFDA;
}


@media (max-width: 480px) {

.Project {
    width: 100%;
    height: 80%;
    margin-top: 50vh;
    margin-left: 8vh;   
}

.Project-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    font-weight: 500;
    color: #CCD6F6;
    width: 100%; 
    margin-bottom: 20px;
}

.Project-line {
    background-color: #233554;
    width: 80px;
    height: 1.5px;
}

.Card-content {
    width: 100%;
    height: 330px;
    margin-left: 50px;
    text-align: left;
    background-color: #112240;
    border-radius: 5px;
}

.Card-img {
    display: none;
}

.Card-permanent-heading {
    margin-left: 18px;
    color: #64FFDA;
}
.Card-heading {
    margin-left: 18px;
    font-size: 16px;
    color: #CCD6F6;
}

.Card-para p{
    margin-top: 0;
    height: 120px;  
    text-align: left;
    color: #A8B2D1;
} 

.Card-tech {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-evenly;
    color: #A8B2D1;
    list-style: none;
}

.Card-link a {
    margin-left: 20px;
    font-size: 25px;
    text-align: center;
    color: #A8B2D1;
}

}


@media (min-width: 481px) and (max-width: 768px) {

.Project {
    width: 90%;
    height: 80%;
    margin-top: 50vh;
    margin-left: 10vh;
}

.Project-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    font-size: 25px;
    font-weight: 500;
    color: #CCD6F6;
    width: 100%; 
    margin-bottom: 20px;
}

.Project-line {
    background-color: #233554;
    width: 120px;
    height: 1.5px;
}

.Card-content {
    width: 100%;
    margin-left: 50px;
    height: max-content;
    text-align: left;
    background-color: #112240;
    border-radius: 5px;
}

.Card-img {
    display: none;
}

.Card-permanent-heading {
    margin-left: 18px;
    color: #64FFDA;
}
.Card-heading {
    margin-left: 18px;
    font-size: 18px;
    color: #CCD6F6;
}

.Card-para p{
    height: 120px;  
    text-align: left;
    color: #A8B2D1;
} 

.Card-tech {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-evenly;
    color: #A8B2D1;
    list-style: none;
}

.Card-link a {
    margin-left: 20px;
    font-size: 25px;
    text-align: center;
    color: #A8B2D1;
}

}

@media (min-width: 769px) and (max-width: 1024px){

.Project {
    width: 85%;
    height: 100%;
    margin-top: 35vh;
    margin-left: 15vh;
}

.Project-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    font-size: 28px;
    font-weight: 500;
    color: #CCD6F6;
    width: 90%; 
}

.Project-line {
    background-color: #233554;
    width: 250px;
    height: 1.5px;
}

.Card-content {
    position: relative;
    height: auto;
    width: 100%;
    text-align: right;
}

.Card-img {
    margin-top: 90px;
    height: 70%;
    width: 130%;
}

.Card-img img {
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

.Card-permanent-heading {
    color: #64FFDA;
    width: 100%;
}
.Card-heading {
    font-size: 18px;
    width: 100%;
    color: #CCD6F6;
}

.card-para {
    height: 120px;
    width: 100%;   
}

.Card-para p{
    padding: 14px;  
    background-color: #112240;
    text-align: left;
    color: #A8B2D1;
} 

}

@media (min-width: 1025px) and (max-width: 1280px){

.Project {
    width: 85%;
    height: 100%;
    margin-top: 35vh;
    margin-left: 18vh;
}

.Project-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    font-size: 30px;
    font-weight: 500;
    color: #CCD6F6;
    width: 80%; 
}

.Project-line {
    background-color: #233554;
    width: 220px;
    height: 1.5px;
}

.Card-content {
    position: relative;
    height: auto;
    width: 100%;
    text-align: right;
}

.card-para {
    height: 120px;
    width: 100%;   
}

}

@media (min-width: 1281px) {

.Project {
    width: 75%;
    height: 100%;
    margin-top: 30vh;
    margin-left: 30vh;
}

}